* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
// 字体继承父元素的字体
button, input {
  font: inherit;
}
// 把焦点元素（输入框）默认的内部线条隐藏
:focus {
  outline: none;
}
// 把标题标签的字体加粗去掉
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}